<section class="hero is-large is-primary">
    <div class="hero-body">
        <p class="title is-size-2 is-size-5-mobile has-text-centered has-text-shadow">
            olubalance
        </p>
        <p class="title is-size-4 is-size-6-mobile has-text-centered has-text-shadow">
            A personal finance tool designed to help balance and reconcile your accounts.
        </p>
        <p class="has-text-centered">
            <%= link_to new_user_registration_path, class: "button is-white has-text-link" do %>
                <span class="icon is-small">
                    <i class="fa fa-user-plus"></i>
                </span>
                <span>Sign up</span>
            <% end %>

            <%= link_to new_user_session_path, class: "button is-white has-text-link" do %>
                <span class="icon">
                    <i class="fa fa-sign-in"></i>
                </span>
                <span>Login</span>
            <% end %>
        </p>
    </div>
</section>

<section class="section">
<div class="container">
    <div class="columns has-text-centered">
        <div class="column is-4">
            <p class="title is-5 has-text-link">
                Balance your accounts
            </p>
            <p class="">
                olubalance is your online checkbook register with support for receipt attachments and more!
            </p>
        </div>
        <div class="column is-4">
            <p class="title is-5 has-text-link">
                Know where you stand
            </p>
            <p class="">
                Never be surprised by pending charges again! What you enter into olubalance is reflected in your account immediately.
            </p>
        </div>
        <div class="column is-4">
            <p class="title is-5 has-text-link">
                Privacy matters
            </p>
            <p class="">
                olubalance is a standalone application that does not rely on data from your bank. Enter transactions like you would balance a checkbook.
            </p>
        </div>
    </div>
</div>
</section>
