<h1>olubalance Release Notes</h1>

<h3>Version 2.0 (In Development)</h3>
<p>
	olubalance 2.0 is our current development branch and is currently in progress. The following features are coming soon!
	<ul>
		<li>Transaction level attachments for image files and PDFs to track receipts, payment confirmations, etc</li>
		<li>Account level attachments for image files and PDFs to create a storage repository of your account statements, etc</li>
		<li>New account type for credit card accounts that are in repayment</li>
		<li>New transaction type for transfers between a user's account</li>
		<li>Transaction description autocomplete with suggestions from previous entries in that account</li>
		<li>Total redesign of UI</li>
		<li>Enhancements to the UI for mobile devices</li>
		<li>Technical: Thorough Unit Testing</li>
		<li>Bugfix: User signup email confirmations</li>
		<li>Full documentation of the codebase and user interaction with the site</li>
	</ul>
</p>

<h3>Version 1.0 (Current Release)</h3>
<p>
	olubalance 1.0 is our initial release which has basic functionality for users to do the following:
	<ul>
		<li>User signup and login</li>
		<li>Create, edit, and delete accounts</li>
		<li>Create, edit, and delete transactions within each account</li>
		<li>Transaction table pagination (default 25 rows per page)</li>
		<li>Running balance calculated at the transaction level</li>
		<li>Account balance will be updated automatically after user operations on transactions</li>
		<li>Account overview with list of all accounts and balances for each</li>
	</ul>
</p>