<div class="bg-white lg:w-4/12 md:6/12 w-10/12 m-auto rounded-lg shadow-lg">
  <div class="py-8 px-8">
    <h1 class="font-medium text-2xl text-green-700 mt-3 text-center"><%= @title %></h1>
    <%= content %>
  </div>
</div>