<div class="lg:w-4/12 md:w-6/12 m-auto">
  <div class="py-8 px-8">
    <h1 class="text-center lg:text-left font-bold text-4xl text-green-700 mt-3 mb-10"><%= @title %></h1>
    <%= content %>
  </div>
</div>