<div class="level-item has-text-centered is-hidden-tablet">
  <div class="dropdown is-right">
    <div class="dropdown-trigger">
      <button class="button is-white" aria-haspopup="true" aria-controls="balance-dropdown">
        <span class="subtitle is-size-6 has-text-weight-bold <%= @account.balance_color %>">
          <%= @account.current_balance_display %>
        </span>
        <span class="icon is-small">
          <i class="fa fa-angle-down" aria-hidden="true"></i>
        </span>
      </button>
    </div>
    <div class="dropdown-menu" id="balance-dropdown" role="menu">
      <div class="dropdown-content">
        <div class="dropdown-item">
          <div>
            <p><strong>Other Balances</strong></p>
          </div>
        </div>
        <hr class="dropdown-divider">
        <div class="dropdown-item">
          <div>
            <span class="heading has-text-grey has-text-weight-semibold">
              Pending
            </span>
            <p class="title tag is-warning is-6"><%= @account.pending_balance_display %></p>
          </div>
        </div>
        <div class="dropdown-item">
          <div>
            <span class="heading has-text-grey has-text-weight-semibold">
              Stashed
            </span>
            <p class="title tag is-success is-6"><%= number_to_currency(@stashed) %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>