<div class="level-item has-text-centered mr-30">
  <div>
    <p class="title <%= @account.balance_color %>"><%= @account.current_balance_display %></p>
    <p class="heading has-text-grey is-size-7 has-text-weight-bold">Balance</p>
  </div>
</div>
<% if @account.pending_balance != 0 %>
  <div class="level-item has-text-centered">
    <div>
      <p class="title tag is-warning is-6"><%= @account.pending_balance_display %></p>
      <p class="heading has-text-grey has-text-weight-semibold">Pending</p>
    </div>
  </div>
<% end %>
<% if @stashed != 0 %>
  <div class="level-item has-text-centered">
    <div>
      <p class="title tag is-success is-6 "><%= number_to_currency(@stashed) %></p>
      <p class="heading has-text-grey has-text-weight-semibold">Stashed</p>
    </div>
  </div>
<% end %>
