<div id="pager">
  <div>
    <% if @pagy.next %>
      <%= link_to(
        "Load more transactions",
        account_transactions_path(page: @pagy.next),
				class: "",
        data: {
          turbo_stream: ""
        }
      ) %>
    <% end %>
  </div>
</div>