
    <!--<%= pagy_bulma_nav(@pagy).html_safe %>-->


<nav class="pagination is-centered" role="navigation" aria-label="pagination">
  <a class="pagination-previous" href="#">←</a>
  <a class="pagination-next" href="#">→</a>
  <ul class="pagination-list">
    <% @pagy.series.each do |item| %>
      <% if item == :gap %>
        <li><span class="pagination-ellipsis">&hellip;</span></li>
      <% else %>
        <li>
          <a href="#" 
            class="pagination-link <%= "is-current" if item.is_a?(String) %>">
            <%= item %>
          </a>
        </li>
      <% end %>
    <% end %>
  </ul>
</nav>