<!-- Main container -->
<nav class="level">
  <!-- Left side -->
  <div class="level-left">
    <%= render partial: "shared/pageLevelTitle", locals: { title: "Transactions" } %>
    <%= render partial: "transactions/components/search" %>
    <%= render partial: "transactions/components/stashButton" %>
  </div>
  <div class="level-right">
    <%= render partial: "shared/pageLevelNewButton", locals: { path: new_account_transaction_path } %>
  </div>
</nav>