<div class="content has-text-centered">
  <p class="has-text-weight-semibold has-text-grey is-size-6 mb-5">
    Copyright © <%= Date.current.year %> <a href="https://www.kevin-custer.com/" target="_blank" rel="noopener">Kevin Custer</a>. All rights reserved.
  </p>
  <p class="has-text-grey is-size-7">
    olubalance <a target="_blank" rel="nofollow noopener noreferrer" href="https://www.github.com/odinsride/olubalance/releases/tag/v<%=Rails.configuration.version%>" 
                  class="has-text-weight-semibold"
                  aria-label="Link to current olubalance release (opens in a new tabl)">v<%= Rails.configuration.version %></a>
  </p>
  <p class="has-text-weight-semibold has-text-grey is-size-6">
    <a href="https://github.com/odinsride/olubalance" target="_blank" rel="noopener">
      <span class="icon has-tooltip-arrow" data-tooltip="Github">
        <i class="fab fa-github fa-lg"></i>
      </span>
    </a>
    <a href="https://github.com/odinsride/olubalance/blob/master/LICENSE" target="_blank" rel="noopener" style="margin-left: 10px">
      <span class="icon has-tooltip-arrow" data-tooltip="MIT License">
        <i class="fas fa-balance-scale fa-lg"></i>
      </span>
    </a>
  </p>
</div>