<div class="content has-text-centered">
  <p class="has-text-weight-semibold has-text-grey is-size-6">
    Copyright © <%= Date.current.year %> olumal. All rights reserved.
  </p>
  <p class="has-text-weight-semibold has-text-grey is-size-6">
    <a href="https://github.com/odinsride/olubalance" target="_blank">
      <span class="icon">
        <i class="fa fa-github"></i>
      </span>
      <span>Github</span>
    </a>
    <a href="https://github.com/odinsride/olubalance/blob/master/LICENSE" target="_blank" style="margin-left: 10px">
      <span class="icon">
        <i class="fa fa-balance-scale"></i>
      </span>
      <span>MIT License</span>
    </a>
  </p>
</div>