<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-5-desktop is-offset-3-desktop">
        <%= render formPath %>
      </div>
    </div>
  </div>
</section>