<%= link_to new_user_registration_path, class: "button is-link is-outlined" do %>
  <span class="icon is-small">
    <i class="fas fa-user-plus"></i>
  </span>
  <span>Sign up</span>
<% end %>

<%= link_to new_user_session_path, class: "button is-link" do %>
  <span class="icon">
    <i class="fas fa-sign-in-alt"></i>
  </span>
  <span>Login</span>
<% end %>