<div class="level-item">
  <div class="content">
    <p class="title is-size-4 is-size-6-mobile has-text-link"><%= title %></p>
    <% if defined?(subtitle) %>
      <p class="subtitle is-size-7 has-text-grey has-text-weight-bold"><%= subtitle %></p>
    <% end %>
  </div>
</div>