<div class="level-item">
  <div class="content">
    <p class="title is-4 has-text-link"><%= title %></p>
    <% if defined?(subtitle) %>
      <p class="subtitle is-7 has-text-grey has-text-weight-bold"><%= subtitle %></p>
    <% end %>
  </div>
</div>