<p class="level-item is-hidden-mobile">
  <%= link_to path, class:"button is-link" do %>
    <span class="icon">
      <i class="fa fa-plus-circle"></i>
    </span>
    <span>New</span>
  <% end %>
</p>