<div class="level-right is-hidden-tablet">
  <%= link_to path, class:"button is-small is-link" do %>
    <span class="icon">
      <i class="fa fa-plus-circle"></i>
    </span>
    <span>New</span>
  <% end %>
</div>