<div class="min-h-screen bg-gray-100 py-6 px-4 lg:px-64">
  <h1 class="text-2xl font-bold text-green-800 mb-6">UI Examples</h1>
  <div class="px-16 py-8 shadow bg-white rounded-2xl border-b-4 border-green-400">
    <h2 class="text-lg text-green-700 font-semibold mb-4">Buttons</h2>
    <div class="flex mb-8">
      <div class="flex-initial mr-4">
        <p class="text-center">
          <button class="o-btn o-btn--small">Small Button</button><br/>
          <span class="text-xs text-gray-600 font-semibold">.o-btn .o-btn--small</span>
        </p>
      </div>
      <div class="flex-initial mr-4">
        <p class="text-center">
          <button class="o-btn o-btn--small o-btn--primary">Primary Small</button><br/>
          <span class="text-xs text-gray-600 font-semibold">.o-btn--primary</span>
        </p>
      </div>
      <div class="flex-initial mr-4">
        <p class="text-center">
          <button class="o-btn o-btn--small o-btn--secondary">Secondary Small</button><br/>
          <span class="text-xs text-gray-600 font-semibold">.o-btn--secondary</span>
        </p>
      </div>
    </div>
    <div class="flex mb-8">
      <div class="flex-initial mr-4">
        <p class="text-center">
          <button class="o-btn">Default Button</button><br/>
          <span class="text-xs text-gray-600 font-semibold">.o-btn</span>
        </p>
      </div>
      <div class="flex-initial mr-4">
        <p class="text-center">
          <button class="o-btn o-btn--primary">Primary Button</button><br/>
          <span class="text-xs text-gray-600 font-semibold">.o-btn--primary</span>
        </p>
      </div>
      <div class="flex-initial mr-4">
        <p class="text-center">
          <button class="o-btn o-btn--secondary">Secondary Button</button><br/>
          <span class="text-xs text-gray-600 font-semibold">.o-btn--secondary</span>
        </p>
      </div>
    </div>
  </div>
</div>