<div class="columns">
  <div class="column is-8 is-12-mobile is-offset-2">
<article class="message is-medium is-primary">
  <div class="message-header">
    <p>Welcome to olubalance!</p>
  </div>
  <div class="message-body">
    <%=raw description %>
  </div>
</article>
  </div>
</div>