# Add configuration values here, as shown below.
#
OLUBALANCE_DATABASE_USERNAME: 
OLUBALANCE_DATABASE_PASSWORD:
S3_BUCKET_NAME:
S3_BUCKET_NAME_DEV:
AWS_ACCESS_KEY_ID:
AWS_SECRET_ACCESS_KEY:
S3_REGION:
S3_HOST_NAME:
MAILER_ADDRESS:
MAILER_PORT: ""
MAILER_USER:
MAILER_PASSWORD: