<div class="py-10 text-center bg-gray-50 border-t border-green-500 border-opacity-50">
  <p class="mb-2 text-gray-700">
    Copyright © <%= Date.current.year %> <a href="https://www.kevin-custer.com/" target="_blank" class="font-bold text-green-700 hover:text-green-800" rel="noopener">Kevin Custer</a>. All rights reserved.
  </p>
  <p class="text-sm text-gray-600">
    olubalance <a target="_blank" rel="nofollow noopener noreferrer" href="https://www.github.com/odinsride/olubalance/releases/tag/v<%=Rails.configuration.version%>"
                   class="font-bold text-green-700 hover:text-green-800"
                   aria-label="Link to current olubalance release (opens in a new tab)">v<%= Rails.configuration.version %></a>
  </p>
  <p></p>
</div>