<nav class="py-1 md:py-6 px-3 md:px-8 flex flex-wrap justify-between items-center shadow border-t-8 border-green-600">
  <!--   left side -->
  <%= link_to root_path do %>
    <%= image_pack_tag 'media/images/logo.png', width: "175", alt: "olubalance logo" %>
  <% end %>

  <!--   right side -->
  <div class="text-center md:hidden">
    <button id="nav-toggle" class="px-3 py-2 text-gray-500 rounded focus:outline-none focus:ring-2 focus:ring-green-700 focus:ring-opacity-70">
      <svg class="text-center inline-block fill-current mb-1 h-5 w-5" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <title>Menu</title>
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
      </svg>
      <p class="uppercase text-xs">
        Menu
      </p>
    </button>
  </div>

  <div class="toggle hidden w-full md:flex md:w-auto md:items-center md:block">

  </div>

</nav>