// Define custom font for Mulish font downloaded from Google Fonts
@font-face {
  font-family: 'Mulish-ExtraLight';
  src: url('/fonts/Mulish/Mulish-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish-Light';
  src: url('/fonts/Mulish/Mulish-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish-Regular';
  src: url('/fonts/Mulish/Mulish-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish-SemiBold';
  src: url('/fonts/Mulish/Mulish-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish-Bold';
  src: url('/fonts/Mulish/Mulish-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish-ExtraBold';
  src: url('/fonts/Mulish/Mulish-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish-Black';
  src: url('/fonts/Mulish/Mulish-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
