//@import 'fonts';
//@import 'bulmaVars';
//
//@import '~bulma/bulma';
//@import '~@creativebulma/bulma-tooltip';
//@import '@fortawesome/fontawesome-free';
//
//@import 'bulma-checkradio';
//
//@import 'helpers';
//@import 'devise';
//@import 'card';
//@import 'table';
//@import 'stashes';

@import "tailwindcss/base";

html {
  @apply font-body;
}

@import "tailwindcss/components";
@import "tailwindcss/utilities";


@responsive {
  .text-shadow {
    text-shadow: 0 2px 4px rgba(0,0,0,0.10);
  }

  .text-shadow-md {
    text-shadow: 0 4px 8px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.08);
  }

  .text-shadow-lg {
    text-shadow: 0 15px 30px rgba(0,0,0,0.11), 0 5px 15px rgba(0,0,0,0.08);
  }

  .text-shadow-none {
    text-shadow: none;
  }
}