  <div id="deactivate-account<%= account.id%>" class="modal">
    <div class="modal-content ob-text-primary">
      <h4>Deactivate <%= account.account_name %>?</h4>
      <p>Deactivating an account hides it from your account list, while keeping all transaction history for record
        keeping purposes. Inactive accounts can be found from the user menu and reactivated at any time.</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-light btn-flat ob-text-primary">Cancel</a>
      <%= link_to "Deactivate", deactivate_account_path(account), class: "modal-action modal-close waves-effect waves-light btn-flat ob-text-primary", :'data-position' => "top", :'data-tooltip' => "Deactivate Account" %>
    </div>
  </div>