<!-- Main container -->
<nav class="level">
  <!-- Left side -->
  <div class="level-left">
    <%= render partial: "shared/pageLevelTitle", locals: { title: "Stashes" } %>
    <%= render partial: "shared/pageLevelNewButton", locals: { path: new_account_stash_path } %>
  </div>
</nav>