<tr>
  <td><%= stash_entry.stash_entry_date_formatted %></td>
  <td><%= stash_entry.description %></td>
  <td class="<%= stash_entry.amount_color %> has-text-right"><%= stash_entry.amount_decorated %></td>
</tr>