// Define custom font
@font-face {
  font-family: Inter-Regular;
  src: url('/fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-optical-sizing: auto;
  font-weight: 1 1000;
  font-style: normal;
}
