table.ob-table {
  $ob-table-border-radius: 4px;
  font-size: 0.9em;
  border-collapse: separate;
  border: 1px solid rgb(235, 235, 235);
  border-radius: $ob-table-border-radius;

  thead.ob-table-phead {
    // height: 4em;
    background-color: $link;
    border-top-left-radius: $ob-table-border-radius;
    border-top-right-radius: $ob-table-border-radius;

    .level-left + .level-right {
      margin-top: 0;
    }
  }

  th#trx-date, th#stash-entry-date {
    border-top-left-radius: $ob-table-border-radius;
  }

  th#trx-balance, th#stash-entry-amount {
    border-top-right-radius: $ob-table-border-radius;
  }

  th#trx-header-mobile, th#ob-stash-list {
    border-top-left-radius: $ob-table-border-radius;
    border-top-right-radius: $ob-table-border-radius;
  }

  th {
    font-size: 1.1em;
  }

  td {
    border-bottom: 1px solid rgb(235, 235, 235);
    font-weight: 600;
    font-size: 0.9em;
    a {
      display: block;

      // Hide the selection box when clicking a link
      &:focus {
        outline: 0;
      }
    }
  }

  td, th {
    padding: 0.80em 1.0em;

    .ob-cell-content {
      border-right: 1px solid rgb(235, 235, 235);
    }

    .level.ob-mobile-level {
      margin-bottom: 0;
    }
  }

  td.has-text-centered, th.has-text-centered {
    .ob-cell-content {
      padding-right: 0 !important;
    }
  }

  td.has-text-right, th.has-text-right {
    .ob-cell-content {
      padding-right: 1.0em;
    }
  }
}

@media screen and (max-width: 768px) {
  table.ob-table {
    th.ob-table-phead {
      .is-size-7-mobile {
        font-size: 0.85em !important;
      }
    }
  }

  #transaction-search {
    display: block;
  }
}