/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "materialize/components/color";
$primary-color: color("teal", "darken-2") !default;
$secondary-color: color("teal", "lighten-3") !default;
@import "materialize";
@import "material_icons";

html {
    font-family: Ubuntu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Cantarell, "Helvetica Neue", sans-serif;
}

.control-label {
    margin-right: 10px;
}

.card-action {
    text-align: right;
}

.ob-account-card {
    border-radius: 10px;
}

a.ob-text-primary.tooltipped {
    margin-right: 0 !important;
    margin-left: 12px !important;
}

.valign-fix {
    justify-content: flex-end;
}

.text-muted { 
    color: #6c757d !important;
}

.ob-linked-card {
    color: #494949;
}

.ob-shadow {
    text-shadow: 1px 1px 2px #ccc;
}

.ob-no-top {
    padding-top: 0 !important;
    margin-top: 0 !important;
}

.ob-no-bottom {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.ob-right-border {
    border-right: 1px dotted #ccc;
}

.ob-icon-small {
    font-size: 1.8rem;
    /*-webkit-text-stroke: 1px #ccc;*/
}

.ob-icon-medium {
    font-size: 3rem;
}

.required abbr {
    color: #00796b !important;
    text-decoration: none;
}

.ob-text-secondary {
    color: #80cbc4 !important;
}

.ob-secondary {
    background-color: #80cbc4 !important;
}

.ob-text-primary {
    color: #00796b !important;
}

.ob-primary {
    background-color: #00796b !important;
}


.ob-accent {
    background-color: #e0f2f1 !important;
}

.ob-gradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#008e76+0,69c1b9+100 */
    background: rgb(0,142,118); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(0,142,118,1) 0%, rgba(105,193,185,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0,142,118,1) 0%,rgba(105,193,185,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0,142,118,1) 0%,rgba(105,193,185,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008e76', endColorstr='#69c1b9',GradientType=1 ); /* IE6-9 */
}

.ob-card-gradient {
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0f2f1+0,ffffff+100 */
background: rgb(224,242,241); /* Old browsers */
background: -moz-linear-gradient(top, rgba(224,242,241,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(224,242,241,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(224,242,241,1) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f2f1', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}