<div class="columns">
  <div class="column is-6-desktop is-offset-3-desktop">
    <h4 class="title is-4 has-text-link"><%= @transaction.description %></h4>
    <h6 class="subtitle is-7 has-text-grey has-text-weight-semibold"><%= @account.account_name_balance %></h6>
  </div>
</div>
