<div class="col-sm-11 col-xs-12">
	<h2 class="text-center"><%= @transaction.description %></h2>
	<h5 class="text-center"><%= @transaction.created_at.strftime('%b %d, %Y') %></h5>
	<table>
		<tr>
			<th>Transaction Date</th>
			<th>Amount</th>
		</tr>
		<tr>
			<td><%= @transaction.trx_date %></td>
			<td><%= @transaction.amount %></td>
		</tr>
	</table>
</div>