.column>.card {
  min-height: 200px;

  /* Olubalance Card Gradient */
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, rgb(255, 255, 255) 0%, rgb(224, 242, 241) 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgb(255, 255, 255) 0%, rgb(224, 242, 241) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgb(255, 255, 255) 0%, rgb(224, 242, 241) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e0f2f1', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */


  transition: all .2s ease-in-out;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, .2),
              0px 2px 2px 0px rgba(0, 0, 0, .14),
              0px 3px 1px -2px rgba(0, 0, 0, .12);
  border-radius: 5px;

  &:hover:not(#transaction-card):not(#stash-card) {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, .2),
                0px 8px 10px 1px rgba(0, 0, 0, .14),
                0px 3px 14px 2px rgba(0, 0, 0, .12);
    transform: scale(1.1, 1.1);
    z-index: 1000;
  }

  .card-header {
    border-radius: 5px 5px 0 0;

    .card-header-title {
      text-shadow: 1px 1px 10px #acacac;
    }
  }

  .card-footer {
    .card-footer-item {
      font-size: 0.85em;
    }
  }
}