<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
    © <%= Time.now.strftime('%Y') %> Kevin Custer, All rights reserved.
    <a class="grey-text text-lighten-4 right" href="https://github.com/odinsride/olubalance/issues" target="_blank"><%= fa_icon "question-circle" %> Help</a>
    <span class="right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <a class="grey-text text-lighten-4 right" href="https://github.com/odinsride/olubalance/blob/master/LICENSE" target="_blank">MIT License</a>
    <span class="right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <a class="grey-text text-lighten-4 right" href="https://github.com/odinsride/olubalance" target="_blank"><%= fa_icon "github" %> GitHub</a>
    </div>
  </div>
</footer>