<li><%= link_to new_user_registration_path, class: "ob-text-primary" do %><%= fa_icon "user-plus", class: "ob-text-primary", style: "margin: 0 12px 0 0" %> Sign Up <% end %></li>
<li><%= link_to new_user_session_path, class: "ob-text-primary" do %><%= fa_icon "sign-in", class: "ob-text-primary", style: "margin: 0 12px 0 0" %> Login<% end %></li>