  <li><%= link_to edit_user_registration_path, class: "ob-text-primary" do %><i class="material-icons ob-text-primary">settings</i>Settings<% end %></li>
  <li><%= link_to accounts_inactive_path, class: "ob-text-primary" do %><i class="material-icons ob-text-primary">account_balance</i>Inactive<% end %></li>  
  <li><%= link_to destroy_user_session_path, class: "ob-text-primary", method: :delete do %><i class="material-icons ob-text-primary">exit_to_app</i>Logout<% end %></li>