<%= render partial: "shared/pagetitle", locals: { page_model: "account", description: "Accounts" } %>

<!-- Render the message if no accounts exist -->
<%= render partial: "noaccounts", locals: { description: Constants::NO_ACCOUNT_DESC } if @accounts.empty? %>

<div class="row" id="accounts">
  <%= render partial: "account", collection: @accounts %>
</div>