<div class="oh-section flex justify-between">
  <div>
    <h1 class="oh-heading-1 text-primary-700">
      Accounts
    </h1>
  </div>
  <div>
    <%= link_to new_account_path do %>
      <button class="oh-btn oh-btn-primary">
        <%= render "ui/svgs/plus" %>
        New
      </button>
    <% end %>
  </div>
</div>

<% @accounts.group_by(&:account_type).each do |type, accounts| %>
  <div class="oh-section">
    <h2 class="oh-heading-2 text-primary-700 mb-4"><%= type.capitalize %></h2>
    <%= render (Accounts::AccountListComponent.new(accounts: accounts)) %>
  </div>
<% end %>