<div class="row">
  <div class="col s12">
    <h5 class="cyan-text text-darken-3 ob-shadow left"><strong>New Account</strong></h5>
  </div>
</div>

<%= render 'form', account: @account %>

<%= link_to 'Back', accounts_path %>
